
body {
	background-color: grey;
	color: white;
	text-align:center;
}

.formContainer {
	text-align: left;
	display: inline-block;
}

.battletag-display {
	color: yellow;
}

/* Footer css */
.center {
	margin-left: auto;
	margin-right: auto;
}

.d-block {
	display: block;
}

.small {
	font-size: 0.5em;
}

.text-c {
	text-align: center;
}

/* Footer end */