
body {
	background-color: rgb(0, 0, 0);
	color:white;
	text-align:center;
}

.formContainer {
	text-align: left;
	display: inline-block;
}

.battletag-display {
	color: yellow;
}

/* Footer css */
.center {
	margin-left: auto;
	margin-right: auto;
}

.d-block {
	display: block;
}

.d-inblock {
	display: inline-block;
}

.d-intable {
	display: inline-table;
}

.thin-border {
	border: 2px solid #f9fd00;
}

.small {
	font-size: 0.5em;
}

.a-width {
	width: auto;
}

.text-c {
	text-align: center;
}

/* Footer end */