
body {
	background-color: rgb(2, 45, 102);
	color: rgb(187, 165, 68);
	text-align:center;
}

.formContainer {
	text-align: left;
	display: inline-block;
}

.battletag-display {
	color: yellow;
}

/* Footer css */
.center {
	margin-left: auto;
	margin-right: auto;
}

.d-block {
	display: block;
}

.thin-border {
	border: 2px solid #cc0808;
}

.small {
	font-size: 0.5em;
}

.text-c {
	text-align: center;
}

/* Footer end */